body {
    /* background-color: pink; */
    background-image: url("https://gifdb.com/images/high/naruto-ninja-run-21jvy092jww47a6t.gif");
    font-family: Arial, Helvetica, sans-serif; /* alterar fonte */
    background-repeat: no-repeat; 
    background-size: cover;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Menu ul{
    display: flex;
    flex-direction: row;
}

.Menu li{
    list-style: none;  
}
